.bs-countdown-timer {
	border: 1px solid rgba(0,0,0,0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	
}
.bs-countdown-timer .col-xs-3 {
	text-align: center;
}
.bs-countdown-timer .col-xs-3:after {
	content: ':';
	font-size: 48px;
	color: rgba(255, 255, 255, 0.75);
	position: absolute;
	right: -6px;
	top: 0;
}
.bs-countdown-timer .col-xs-3:last-child::after {
	content: '';
	display: none;
}
.bs-countdown-timer .numcard {
	border: none;
	border-radius: 8px;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background: rgba(0,0,0,.05);
	padding-top: 10px;
}
.bs-countdown-timer .numcard-number {
	font-size: 36px;
	line-height: 42px;
	display: block;
}
.bs-countdown-timer .numcard-desc {
	font-size: 12px;
	padding: 0;
	display: block;
	color: rgba(255, 255, 255, 0.75);
}

