<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">



</head>

<body>
  <!--==========================
  Header
  ============================-->
 <header id="header" class="d6">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="http://tokendl.com/"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://tokendl.com/">Главная</a></li>
          <li><a href="/tokens">Токены</a></li>
          <li><a  target="_blank" href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li class="menu-active"><a href="/offer">Оферта</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


<!--==========================
    Hero Section
  ============================-->

 <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
    <div class="cd-user-modal-container"> <!-- основной контейнер -->
      
      <div id="cd-selected"> <!-- форма регистрации -->
        <form class="cd-form" method="post">
          <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Серия и номер паспорта РФ</label>
            <input name="_1" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Серия и номер паспорта РФ" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Кем выдан</label>
            <input name="_2" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Кем выдан" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Год рождения</label>
            <input name="_0" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Год рождения" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Когда выдан</label>
            <input name="_3" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Когда выдан" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Код подразделения</label>
            <input name="_4" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Код подразделения" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Адрес регистрации</label>
            <input name="_5" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Адрес регистрации" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>





          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Адрес проживания</label>
            <input name="_6" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Адрес проживания" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>




          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Email</label>
            <input name="_7" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Email" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>




          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Номер телефона 1</label>
            <input name="_8" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Номер телефона 1" required>
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>





          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Номер телефона 2</label>
            <input name="_9" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Номер телефона 2">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>




          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Токены</label>
            <input name="_10" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Количество токенов">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>





          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Сумма инвестирования</label>
            <input name="_11" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Сумма инвестирования">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>
          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Отправить">
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->



    <!--==========================
      Services Section
    ============================-->
  



    <!--==========================
      Services Section
    ============================-->
  
<br><br><br>
    <!--==========================
    Call To Action Section
      ============================-->




     <section id="call-to-action">
      <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="row justify-content-center">
              <div class="col-md-9">

                <div class="card">
                    <div class="card-content table-responsive">
                  <embed src="../static/pdf/юр.pdf" width="100%" height="500px" />
              </div></div>
              <div class="row justify-content-center">
                <div class="col-sm-8">
                  <div class="col-sm-12">
                    <br><br>
                    <div class="main-dl"><a href="#0" class="btn btn-primary btn-block">Инвестировать</a></div>
                  </div>
                <br>
                  <div class="col-sm-12">
                  <a href="../static/pdf/юр.pdf" target="_blank"><button type="button" class="btn btn-secondary btn-block">Скачать (PDF)</button></a>
                  </div>
                  
              </div>
              </div>
              </div>

        </div>
      </div>
    </section><!-- #call-to-action -->




  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © Domalogica 2018
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  <script src="../static/js/hmainMen.js"></script>
  <script src="../static/js/hmodernizr.js"></script>



</body></html>