<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="http://cdn.shopify.com/s/files/1/0691/5403/t/141/assets/style.scss.css?3166923016212737268" rel="stylesheet" type="text/css" media="all">
  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style>
  .active {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
  }
  </style>
</head>

<body id="frequent-questions">




  <!--==========================
  Header
  ============================-->
  <header id="header" style="background: #343b40">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://tokendl.com/">Главная</a></li>
          <li><a href="/tokens">Токены</a></li>
          <li><a href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li class="menu-active"><a href="https://docs.google.com/document/d/1BCIVcK-RRDMN-h8b2kZ0YYZA-Jszg8_zblht58B7OZY/edit">FAQ</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
    Hero Section
  ============================-->

    

  <div class="container">

  <div class="container">
    <nav class="navbar"></nav>
    <nav class="navbar"></nav>
    

<h1 class="rte-heading text-center">Часто задаваемые вопросы</h1>
<div class="row">
  <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
    <h4 class="p1">Ответы на часто задаваемые вопросы по проекту “Свежая вода”</h4>




<p class="p1" id="bootstrap4"><h2 class="s1"><b>О рисках</b><br></h2>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Какие риски существуют у  проекта?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Рисков много. Это риски технические и технологические. Мы успешно управляем этими рисками в рамках уже работающей сети из 15 водоматов в г. Махачкале.
          Также есть и другие риски, каждым из которым мы управляем определенными шагами.
          При этом проект прошел достаточно долгий и непростой путь и сеть из 15 водоматов уже создана, т.е. мы прошли этап высокорискового проекта. Продажи воды уже идут без рекламы. 
        </div>
      </div>
    </div>
  </div>
<p class="p1"><span class="s1"><b>Какие риски существуют у  проекта?<br></b></span>Рисков много. Это риски технические и технологические. Мы успешно управляем этими рисками в рамках уже работающей сети из 15 водоматов в г. Махачкале.
Также есть и другие риски, каждым из которым мы управляем определенными шагами.
При этом проект прошел достаточно долгий и непростой путь и сеть из 15 водоматов уже создана, т.е. мы прошли этап высокорискового проекта. Продажи воды уже идут без рекламы. 
</p>
<p class="p1"><span class="s1"><b>Может ли проект провалиться?<br></b></span>Да, есть риски провала проекта и инвестор должен понимать это. Инвестор несет риски потери инвестиций. Мы в свою очередь несем риски того, что наши затраты и усилия за последние несколько лет окажутся напрасными. При этом в случае провала проекта, имущество проекта Свежая Вода (водоматы, основные средства, инструменты, компьютеры и оргтехника и т.д.) распродается и каждый инвестор получает долю от продажи имущества пропорционально своей доле в проекте. Так мы страхуем инвесторов от полной потери инвестиций.
</p>
<meta charset="utf-8">
<p class="p1" id="bootstrap4"><span class="s1"><b>Могу ли я потерять свои инвестиции?<br></b></span><span>Да, Вы можете потерять Ваши инвестиции. Но вероятность этого постоянно снижается, т.к. больше людей узнает о проекте и пользуется высококачественной водой из водоматов.</span></p>
<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Может ли моя доля уменьшится при выпуске новых токенов.?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Нет,  после построения сети, мы всегда будет сохранять соотношение количества водоматов в сети к количеству токенов, 100 токенов на один водомат. Эмиссия токенов будет возможна только при подключении новых водоматов к сети.</span></div>
<br>
<br>


<p class="p1" id="bootstrap4"><h2 class="s1"><b>О водоматах и воде</b><br></h2>
<p class="p1"><span class="s1"><b>Что такое водомат?<br></b></span>Это вендинговый аппарат по продаже очищенной воды высокого качества.</p>
<p class="p1"><span class="s1"><b>Какую проблему решает водомат?<br></b></span>Качество водопроводной воды сильно ухудшилось и продолжает  становиться все хуже с каждым годом. Населению приходится покупать бутилированную воду либо устанавливать фильтры. Водомат - это альтернатива бытовым фильтрам и бутилированной воде. Массовая установка водоматов обеспечивает  население качественной питьевой водой в шаговой доступности.</p>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько стоит вода в водомате?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Цена воды - 4 рубля за литр.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>На сколько сложно пользоваться водоматом? </b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Водоматом очень легко пользоваться. Им уже пользуются как пожилые люди (смотрите <a class="footer-list-link" target="_blank" href="https://www.instagram.com/p/BbAoY7gnVaK/?taken-by=domalogica">тут</a>) и дети (смотрите <a class="footer-list-link" target="_blank" href="https://www.instagram.com/p/BdXWvdkny4Q/?taken-by=domalogica">тут</a>)</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Какого качества вода из Водомата?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">В водомате установлена многоступенчатая система очистки. По данным анализов вода из водомата по параметрам близка к воде высшей категории. В нашей воде гарантировано нет бактерий,  вирусов и хлора и других вредных веществ. При этом в ней имеются достаточное количество необходимых солей и минералов.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Правда что вода после обратного осмоса “мертвая” и без минералов?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Нет, это не правда. Обратный осмос современный и очень эффективный способ получить безопасную и полезную воду. Вода после очистки обратным осмосом содержит малое количество минералов и действительно есть мнение некоторых экспертов, что такая вода - если ее пить на протяжении долгого времени - может нанести вред организму, хотя другая часть экспертов говорит, что это научно не доказано.
При этом ситуация, когда человек на протяжении долгового времени пьет только очищенную воду с очень низким содержанием минералов невозможна в принципе, если только он осознанно не соблюдает “водяную диету”.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько водоматов вы планируете установить в г.Махачкала?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Первый этап - 150 водоматов к Июлю 2018 года. Всего в Махачкале планируем установить 300 водоматов.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Где устанавливаются водоматы?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Водоматы устанавливаются преимущественно во дворах многоэтажных домов. Также предполагается установка в больницах и крупных торговых центрах.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Как купить воду из водомата?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Воду из водомата можно купить, оплатив ее через купюроприемник или монетоприемник. Также есть можно купить воду через бот в Телеграм. Покупка через Телеграм-бот очень удобна: пополнив счет через один водомат, можно купить воду в любом из них.</span></div>
<br>


<p class="p1" id="bootstrap4"><h2 class="s1"><b>О производстве</b><br></h2>
<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Где и кто производит водоматы?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Водоматы разработаны и производятся в Махачкале. Водоматы производит компания “Domalogica”.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Хватит ли у вас производственных мощностей?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Да хватит, в случае необходимости мы можем увеличить количество выпускаемых водоматов.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько стоит один водомат?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Водомат стоит 200 000 рублей. Это средняя цена за водомат такого класса.</span></div>
<br>
<br>


<p class="p1" id="bootstrap4"><h2 class="s1"><b>О токенах</b><br></h2>
<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Что такое токен?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Токен - это доля бизнеса по продаже свежей воды через сеть водоматов. Докен дает право на получение части прибыли от бизнеса - без права управления бизнесом.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Чем подтверждается владение токеном?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Мы создали реестр, в который внесли  всех держателей токенов и количество принадлежащих ему токенов. Реестр доступен по ссылке: <a class="footer-list-link" target="_blank" href="http://tokendl.com/tokens">http://tokendl.com/tokens</a>.  Мы заключаем договор инвестирования с каждым участником проекта, что также подтверждает владение токеном.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Кто будет знать о том, что я купил токен?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Мы заключаем договор с покупателем токенов.  В договоре есть пункт о конфиденциальности, в котором мы обязуемся не разглашать данные участника проекта.  В реестре  держатели токенов будут обезличены, т.е. в нем записаны только номера договоров и количество токенов. Номер договора известен только владельцу  токенов и нам.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько стоит токен?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">На данный момент и до конца января токен стоит 2500 рублей. В феврале цена токена составит 3000 рублей. С 1 марта цена будет от 3500 рублей. Мы предполагаем что в дальнейшем цена тоже будет расти, т.к. при повышении продаж воды доходность инвестиций будет расти.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Почему изменяется цена токена?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">На цену токена влияют несколько показателей среди которых: уровень рисков, капитализация компании, интерес к проекту, продажа воды в сети, спрос на токены.  И естественно, что по мере уменьшения рисков, увеличения капитализации компании (количества активов, и оборотных средств) и увеличения  продаж воды в сети стоимость бизнеса будет расти, а вместе с ним будет расти и цена токена так как токен - это часть бизнеса.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько всего токенов?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">На данный момент токенов - 15000 тысяч. Это соответствует сети из 150 водоматов, которую мы планируем развернуть в Махачкале. Точную цифру количества токенов и количества водоматов мы объявим после окончания продажи токенов: 31 марта 2018 года.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько токенов вы продаете из 15 000?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">На данный момент мы продаем партию из 5000 токенов. Мы можем вывести на продажу новую партию токенов. Это никак не повлияет на общее количество токенов в сети.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Сколько времени вы будете продавать токены?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Мы продаем токены до 31 марта 2018 года. В этот же день мы и точно определимся с количеством водоматов в сети в соответствии с количеством проданных токенов.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Что будет если вы не сможете продать планируемое количество токенов к концу объявленного срока?
</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Если мы не продадим достаточное количество токенов, мы установим столько водоматов, на сколько хватит средств. Например если получится так, что мы сможем установить только 100 водоматов, то токенов в сети будет 10 000 стальные токены мы уничтожим. Мы будем уничтожать только непроданные токены. В любом случаем мы сохраним соотношение количества токенов в сети к количеству водоматов. </span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Может ли измениться количество токенов в сети? Если да, то как это будет происходить?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Да, количество токенов может увеличиваться в зависимости от количества водоматов сети. Мы планируем производить новые водоматы и вводить их в сеть. При 
этом мы берем на себя обязательство соблюдать соотношение токенов  к количеству водоматов в сети.  Соотношение: 100 токенов на 1 водомат.</span></div>
<br>
<br>


<p class="p1" id="bootstrap4"><h2 class="s1"><b>О деньгах</b><br></h2>
<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Как я узнаю, сколько заработал?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Каждый квартал мы будем высылать отчеты. В отчетах мы будем показывать доход компании, расходы и распределяемую прибыль.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Как выплачиваются деньги?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Дивиденды выплачиваются каждый квартал.  Участник проекта может получить деньги на карту или забрать наличными в кассе.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Какая прибыльность на токен?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Плановая прибыльность вложений при инвестировании на начальных этапах - около 70% годовых.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Должен ли инвестор платить налоги?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">С прибыли необходимо платить налог на доходы физических лиц (НДФЛ) 13%.
Это можно сделать заполнив и подав в ФНС декларацию о доходах. Мы не являемся налоговым агентом - подать декларацию и заплатить налоги должен каждый инвестор самостоятельно.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Когда я получу первые деньги?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Начисление прибыли на токены мы начнем с первого апреля 2018 года. а первые выплаты запланированы на 1 июля 2018 года.</span></div>
<br>
<br>


<p class="p1" id="bootstrap4"><h2 class="s1"><b>О перспективах</b><br></h2>
<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Может ли сеть водоматов увеличиваться?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Да сеть может и будет увеличиваться</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Как увеличение сети повлияет на прибыль инвестора?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Это зависит от продаж в новом городе. При запуске нового города прибыль может немного уменьшится.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Будут ли водоматы установлены в других городах?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Будут. Мы планируем установку водоматов во всех городах и крупных селах Дагестана.</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Водоматы в других городах будут приносить прибыль инвестору?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Общая прибыль сети будет распределяться пропорционально выпущенным токенам</span></div>
<br>

<meta charset="utf-8">
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z b"><b>Возможен ли выход проекта на международный рынок?</b></span></div>
<div><span class="author-d-gz71zz89zz86zqz85zz83zsyvz122zz73zz79zz80zcs9xg1xz122zocyz76z7jz70zafjz67z8z122zz83zuawz76zz82zz86zz85z04z67z">Да возможен. Мы уже начали разработку водомата, который планируем продавать по всему мира. А также разрабатываем новую бизнес модель, которую можно использовать для работы на международном рынке.</span></div>
<br>
  </div>
</div>

  </div>

  
  <footer class="footer clearfix">
  <p class="hidden-xs">
    © Domalogica 2018
  </p>

  <ul class="footer-list">
    
      <li class="footer-list-item">
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </li>
    
  </ul>
</footer>


  </div>

  <!-- General JavaScript -->
  <!-- jquery.js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

<script>
  $('html').removeClass('no-js').addClass('js')
</script>

<!-- Our main app.js -->
<script src="//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/app.js?3166923016212737268" type="text/javascript"></script>

<!-- Async Script for Twitter Widgets -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>



<iframe src="/6915403/digital_wallets/dialog" scrolling="no" tabindex="-1" aria-hidden="true" style="position: fixed; top: 0px; left: 0px; z-index: 99999; height: 0px; width: 0px; border: 0px;"></iframe><iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/widget_iframe.9c00c8ca14a8618c4db8e2c43139b138.html?origin=https%3A%2F%2Fthemes.getbootstrap.com" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  <script src="../static/js/hmainMen.js"></script>
  <script src="../static/js/hmodernizr.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
      $(".btn").click(function(){
          $("#toggleSample2").collapse('toggle');
      });
  });
  </script>

      <script type="text/javascript">
          $(function() {
    $('#accordion .panel').on('show.bs.collapse', function(e) {
      $("#accordion .panel-heading").removeClass("active");
      $(e.currentTarget).find(".panel-heading").addClass("active");
    });
  });
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>