<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all">
  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style>
  .active {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
  }
  </style>
</head>

<body id="frequent-questions">




  <!--==========================
  Header
  ============================-->
  <header id="header" style="background: #343b40">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://tokendl.com/">Главная</a></li>
          <li><a href="/tokens">Токены</a></li>
          <li><a target="_blank" href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li class="menu-active"><a href="/faq">FAQ</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
    Hero Section
  ============================-->

    

  <div class="container">

  <div class="container">
    <nav class="navbar"></nav>
    <nav class="navbar"></nav>
    

<h1 class="rte-heading text-center">Часто задаваемые вопросы</h1>
<div class="row">
  <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
    <h4 class="p1">Ответы на часто задаваемые вопросы по проекту “Свежая вода”</h4>




<p class="p1" id="bootstrap4">
  <h2 class="s1"><b>О рисках</b><br></h2>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading0">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
              Почему вы в первую очередь говорите о рисках?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="false" aria-controls="collapse0"></i></span>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body">
            Мы говорим о рисках потому что это неизменная составляющая бизнеса. Если о рисках умалчивают - это дурной знак. Существование рисков оздоровляет отношения, риски отрезвляют, заставляют глубже вникать в бизнес и принимать взвешенные решения.
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
              Какие риски существуют у проекта?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"></i></span>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body">
            Риски проекта Свежая Вода делятся на: экономические, политические, технологические. Мы успешно управляем этими рисками в рамках уже работающей сети из 15 водоматов в г. Махачкале.
            При этом проект прошел достаточно долгий и непростой путь и сеть из 15 водоматов уже создана, т. е. проект прошел так называемую Долину смерти - этап, когда провал может наступить в любой момент. Таким образом мы вышли из зоны высокого риска. Продажи воды идут без рекламы, выведено еще 15 точек, на старте 15 новых аппаратов и работа продолжается. Для минимизации рисков мы привлекаем сторонних экспертов и консультантов, обрастаем сильными партнерами.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
              Может ли проект провалиться?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"></i></span>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body">
            Да, есть риски провала проекта и инвестор должен понимать это. Инвестор несет риски потери инвестиций также, как и мы риски того, что наши затраты и усилия за последние несколько лет окажутся напрасными. При этом в случае провала проекта, имущество проекта Свежая Вода (водоматы, основные средства, инструменты, компьютеры и оргтехника и т.д.) распродается и каждый инвестор получает долю от продажи имущества пропорционально своей доле в проекте. Так мы страхуем инвесторов от полной потери инвестиций.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              Могу ли я потерять свои инвестиции?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"></i></span>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body">
            Необходимо понимать, что существует риск потери инвестиций. Вы вкладываетесь в бизнес и делите с нами риски так же как и прибыль, - это единственный общественно-полезный способ создания и ведения бизнеса в партнерстве. Но вероятность потери постоянно снижается, т.к. бизнес растет, в него включается больше интересантов, больше людей узнает о проекте и пользуется нашим продуктом -  высококачественной водой из водоматов.
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading001">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse001" aria-expanded="false" aria-controls="collapse001">
              Какие риски несете вы?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse001" aria-expanded="false" aria-controls="collapse001"></i></span>
        </div>
        <div id="collapse001" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading001">
          <div class="panel-body">
            Наши риски: потеря вложенных нами денег и времени, а также репутационные риски, - мы рискуем отношениями, будущими сделками и даже свободой в случае неверно принятых решений.
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading002">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse002" aria-expanded="false" aria-controls="collapse002">
              Может ли моя доля уменьшиться при выпуске новых токенов?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse002" aria-expanded="false" aria-controls="collapse002"></i></span>
        </div>
        <div id="collapse002" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading002">
          <div class="panel-body">
            Нет, после построения сети, мы всегда будем сохранять соотношение количества водоматов в сети к количеству токенов - 100 токенов на один водомат. Эмиссия токенов будет возможна только при подключении новых водоматов к сети.
            Да, при этом доля количества токенов к общему количеству токенов уменьшится, но это не скажется на доли прибыли. Например, у вас было 1000 токенов в сети 100 водоматов (10 тыс. токенов). Это составляет 10% от всей сети. Предположим, что мы выпустили еще 100 водоматов и сеть разрослась до 200 водоматов (20 тыс. токенов). Тогда ваша доля 1000 токенов стала 5% от всей сети. Но доля прибыли осталась та же, потому что дополнительные 100 аппаратов также являются частью бизнеса и приносят доход в компанию.
          </div>
        </div>
      </div>
    </div>
<br>
<p class="p1" id="bootstrap4"><h2 class="s1"><b>О водоматах и воде</b><br></h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Что такое водомат?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"></i></span>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body">
            Это вендинговый аппарат по продаже очищенной воды высокого качества.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              Какую проблему решает водомат?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6"></i></span>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body">
            Качество водопроводной воды сильно ухудшилось и продолжает становиться хуже с каждым годом. Населению приходится покупать бутилированную воду либо устанавливать фильтры. Водомат - это альтернатива бытовым фильтрам и бутилированной воде. Массовая установка водоматов обеспечивает население качественной питьевой водой в шаговой доступности, способствует оздоровлению и омоложению нации.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
              Сколько стоит вода в водомате?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7"></i></span>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
          <div class="panel-body">
            Цена воды - 4 рубля за литр. 1,5 литровая бутылка стоит 6 рублей, 5 литровая -20руб.  19 литровая бутыль обойдется в 76 рублей. А набрать бутылочку 0,5 л прохладной воды обойдется всего в 2 рубля. Это дешевле бутилированной воды.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading003">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse003" aria-expanded="false" aria-controls="collapse003">
              За счет чего ваше вода дешевле?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse003" aria-expanded="false" aria-controls="collapse003"></i></span>
        </div>
        <div id="collapse003" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading003">
          <div class="panel-body">
            Как известно, до 50% стоимости бутилированной воды составляет тара. В случае с водоматами тара может использоваться по нескольку раз, снижая стоимость воды.
            Также в стоимость бутилированной воды входит обслуживание дорогостоящей производственной линии, складирование и логистика бутылей. Всего этого нет в продаже воды через водоматы, и соответственно вода стоит в 2 раза дешевле, чем бутилированная вода аналогичного качества.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
              На сколько сложно пользоваться водоматом?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8"></i></span>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <div class="panel-body">
            Водоматом очень легко пользоваться. Им уже пользуются как пожилые люди (смотрите <a class="footer-list-link" target="_blank" href="https://www.instagram.com/p/BbAoY7gnVaK/?taken-by=domalogica">тут</a>) и дети (смотрите <a class="footer-list-link" target="_blank" href="https://www.instagram.com/p/BdXWvdkny4Q/?taken-by=domalogica">тут</a>)
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading9">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
              Какого качества вода из Водомата?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9"></i></span>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
          <div class="panel-body">
            В водомате установлена многоступенчатая система очистки. По данным анализов вода из водомата по параметрам близка к воде высшей категории. В нашей воде гарантировано нет бактерий,  вирусов, хлора, тяжелых металлов и других вредных веществ. При этом в ней имеется достаточное количество необходимых солей и минералов. Для этого мы используем фильтрационную систему на основе обратного осмоса и ультрафильтрации с предварительной очисткой и угольными фильтрами. В планах до лета 2018 года установка озонатора воды.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading10">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
              Правда что вода после обратного осмоса “мертвая” и без минералов?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10"></i></span>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
          <div class="panel-body">
            Нет, это не правда. Обратный осмос современный и очень эффективный способ получить безопасную и полезную воду. Вода после очистки обратным осмосом содержит малое количество минералов и действительно есть мнение некоторых экспертов, что употребление такой воды на протяжении долгого времени может нанести вред организму, хотя другая часть экспертов говорит, что это научно не доказано.
            При этом ситуация, когда человек на протяжении долгого времени пьет только очищенную воду с очень низким содержанием минералов невозможна в принципе, если только он осознанно не соблюдает “водяную диету”.
            Чтобы минимизировать тот фактор мы применяем дополнительную систему ультрафильтрации, которая позволяет при помощи нашего контроллера задавать уровень солей в пределах европейских норм - 50-80 ppm.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading11">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
              Сколько водоматов вы планируете установить в г.Махачкала?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11"></i></span>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
          <div class="panel-body">
            Первый этап - 150 водоматов к сентябрю 2018 года. Всего в Махачкале планируется установить 300 водоматов.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading12">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
              Где устанавливаются водоматы?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12"></i></span>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
          <div class="panel-body">
            Водоматы устанавливаются преимущественно во дворах многоэтажных домов. Также предполагается установка в больницах и крупных торговых центрах.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
              Как купить воду из водомата?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13"></i></span>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
          <div class="panel-body">
            Воду из водомата можно купить, оплатив ее через купюроприемник или монетоприемник. Также есть можно купить воду через бот в Телеграм : @vodomatbot. Покупка через <a href="http://t.me/vodomatbot">Телеграм-бот</a> очень удобна: пополнив счет через один водомат, можно купить воду в любом из них. В дальнейшем в боте появится функционал, позволяющий использовать скидки, “счастливые часы”, геолокацию и пр.
          </div>
        </div>
      </div>
    </div>
<br>
<p class="p1" id="bootstrap4"><h2 class="s1"><b>О производстве и сервисе</b><br></h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading14">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
              Где и кто производит водоматы?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14"></i></span>
        </div>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
          <div class="panel-body">
            Водоматы разработаны и производятся в Махачкале. Водоматы производит компания “Domalogica”.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading15">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
              Хватит ли у вас производственных мощностей?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15"></i></span>
        </div>
        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
          <div class="panel-body">
            Да хватит, в случае необходимости мы можем увеличить количество выпускаемых водоматов.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading16">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
              Сколько стоит один водомат?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16"></i></span>
        </div>
        <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
          <div class="panel-body">
            Водомат стоит 200 000 рублей. Это средняя цена за водомат такого класса.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading17">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
              Кто будет обслуживать сеть водоматов?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17"></i></span>
        </div>
        <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
          <div class="panel-body">
            Сеть водоматов будут обслуживать сервисные инженеры Компании “Свежая Вода”
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading18">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
              Как часто надо обслуживать водоматы?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18"></i></span>
        </div>
        <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
          <div class="panel-body">
            Проводить минимальное обслуживание, инкассацию, осмотр и чистку необходимо проводить хотя бы 2-3 раза в неделю. Проводить замену фильтров необходимо по мере исчерпания их ресурса, но не реже чем раз в полгода.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading19">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
              На сколько хватает ресурса фильтров?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19"></i></span>
        </div>
        <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
          <div class="panel-body">
            В водомате есть несколько разных типов фильтров и их ресурс отличается. Так же ресурс зависит от качества исходной воды. Чем больше в воде примесей тем меньше ресурс картриджей системы очистки. Угольные картриджи имеют ресурс 15000 литров при работе в нормальных условиях.
          </div>
        </div>
      </div>
    </div>

<br>
<p class="p1" id="bootstrap4"><h2 class="s1"><b>О токенах</b><br></h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading20">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
              Что такое токен?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20"></i></span>
        </div>
        <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
          <div class="panel-body">
            Токен - это доля бизнеса по продаже свежей воды через сеть водоматов. Токен дает право на получение части прибыли от бизнеса - без права управления бизнесом. 
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading21">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
              Чем подтверждается владение токеном?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21"></i></span>
        </div>
        <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
          <div class="panel-body">
            Мы создали реестр, в который внесли  всех держателей токенов и количество принадлежащих ему токенов. Реестр доступен по ссылке: <a class="footer-list-link" target="_blank" href="http://tokendl.com/tokens">http://tokendl.com/tokens</a>.  Мы заключаем договор инвестирования с каждым участником проекта, что также подтверждает владение токеном.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading22">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
              Кто будет знать о том, что я купил токен?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22"></i></span>
        </div>
        <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
          <div class="panel-body">
            Мы заключаем договор с покупателем токенов.  В договоре есть пункт о конфиденциальности, в котором мы обязуемся не разглашать данные участника проекта.  В реестре  держатели токенов будут обезличены, т.е. в нем записаны только номера договоров и количество токенов. Номер договора известен только владельцу  токенов и нам.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading23">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
              Сколько стоит токен?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23"></i></span>
        </div>
        <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
          <div class="panel-body">
            На данный момент и до конца января токен стоит 2500 рублей. В феврале цена токена составит 3000 рублей. С 1 марта цена будет от 3500 рублей. Мы предполагаем что в дальнейшем цена тоже будет расти, т.к. при повышении продаж воды доходность инвестиций будет расти.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading24">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
              Почему изменяется цена токена?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24"></i></span>
        </div>
        <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
          <div class="panel-body">
            На цену токена влияют несколько показателей среди которых: уровень рисков, капитализация компании, интерес к проекту, продажа воды в сети, спрос на токены.  И естественно, что по мере уменьшения рисков, увеличения капитализации компании (количества активов, и оборотных средств) и увеличения  продаж воды в сети стоимость бизнеса будет расти, а вместе с ним будет расти и цена токена так как токен - это часть бизнеса.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading25">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapse25">
              Сколько всего токенов?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapse25"></i></span>
        </div>
        <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25">
          <div class="panel-body">
            На данный момент 15000 токенов. Это соответствует сети из 150 водоматов, которую мы планируем развернуть в Махачкале. Точную цифру количества токенов и количества водоматов мы объявим после окончания продажи токенов: 31 марта 2018 года.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading26">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26">
              Сколько токенов вы продаете из 15 000?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26"></i></span>
        </div>
        <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26">
          <div class="panel-body">
            На данный момент мы продаем партию из 5000 токенов. Мы можем вывести на продажу новую партию токенов. Это никак не повлияет на общее количество токенов в сети.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading27">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapse27">
              Сколько времени вы будете продавать токены?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapse27"></i></span>
        </div>
        <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading27">
          <div class="panel-body">
            Мы продаем токены до 31 марта 2018 года. В этот же день мы и точно определимся с количеством водоматов в сети в соответствии с количеством проданных токенов.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading28">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapse28">
              Что будет если вы не сможете продать планируемое количество токенов к концу объявленного срока?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapse28"></i></span>
        </div>
        <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading28">
          <div class="panel-body">
            Если мы не продадим достаточное количество токенов, мы установим столько водоматов, на сколько хватит средств. Например если получится так, что мы сможем установить только 100 водоматов, то токенов в сети будет 10 000 остальные токены мы уничтожим. Мы будем уничтожать только непроданные токены. В любом случаем мы сохраним соотношение количества токенов в сети к количеству водоматов. 
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading29">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapse29">
              Может ли измениться количество токенов в сети? Если да, то как это будет происходить?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapse29"></i></span>
        </div>
        <div id="collapse29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading29">
          <div class="panel-body">
            Да, количество токенов может увеличиваться в зависимости от количества водоматов сети. Мы планируем производить новые водоматы и вводить их в сеть. При 
            этом мы берем на себя обязательство соблюдать соотношение токенов  к количеству водоматов в сети.  Соотношение: 100 токенов на 1 водомат.
          </div>
        </div>
      </div>
    </div>

<br>
<p class="p1" id="bootstrap4"><h2 class="s1"><b>О деньгах</b><br></h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading30">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapse30">
              Как я узнаю, сколько заработал?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapse30"></i></span>
        </div>
        <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading30">
          <div class="panel-body">
            Каждый квартал мы будем высылать отчеты. В отчетах мы будем показывать доход компании, расходы и распределяемую прибыль.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading31">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="false" aria-controls="collapse31">
              Как выплачиваются деньги?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="false" aria-controls="collapse31"></i></span>
        </div>
        <div id="collapse31" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading31">
          <div class="panel-body">
            Дивиденды выплачиваются каждый квартал.  Участник проекта может получить деньги на карту или забрать наличными в кассе.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading32">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapse32">
              Какая прибыльность на токен? 
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapse32"></i></span>
        </div>
        <div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading32">
          <div class="panel-body">
            Плановая прибыльность вложений при инвестировании на начальных этапах - около 70% годовых.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading33">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse33" aria-expanded="false" aria-controls="collapse33">
              Должен ли инвестор платить налоги?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse33" aria-expanded="false" aria-controls="collapse33"></i></span>
        </div>
        <div id="collapse33" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading33">
          <div class="panel-body">
            С прибыли необходимо платить налог на доходы физических лиц (НДФЛ) 13%.
            Это можно сделать заполнив и подав в ФНС декларацию о доходах. Мы не являемся налоговым агентом - подать декларацию и заплатить налоги должен каждый инвестор самостоятельно.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading34">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapse34">
              Когда я получу первые деньги?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapse34"></i></span>
        </div>
        <div id="collapse34" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading34">
          <div class="panel-body">
            Начисление прибыли на токены мы начнем с первого апреля 2018 года, а первые выплаты запланированы на 1 июля 2018 года.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading35">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse35" aria-expanded="false" aria-controls="collapse35">
              Куда расходуются  деньги полученные от продажи токенов?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse35" aria-expanded="false" aria-controls="collapse35"></i></span>
        </div>
        <div id="collapse35" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading35">
          <div class="panel-body">
            Деньги за проданные токены будут аккумулироваться в кассах компании “Свежая Вода”. Далее за них будут куплены водоматы. Также деньги будут потрачены на подготовку мест под установку водоматов. На транспортировку водоматов до места установки на установку водоматов и на прочие расходы по статьям указанным в договоре и на странице <a href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit">“О проекте”</a> с разделе статьи расходов.
          </div>
        </div>
      </div>
    </div>

<br>
<p class="p1" id="bootstrap4"><h2 class="s1"><b>О перспективах</b><br></h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading36">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapse36">
              Может ли сеть водоматов увеличиваться?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapse36"></i></span>
        </div>
        <div id="collapse36" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading36">
          <div class="panel-body">
            Да сеть может и будет увеличиваться
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading37">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse37" aria-expanded="false" aria-controls="collapse37">
              Как увеличение сети повлияет на прибыль инвестора?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse37" aria-expanded="false" aria-controls="collapse37"></i></span>
        </div>
        <div id="collapse37" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading37">
          <div class="panel-body">
            Это зависит от продаж в новом городе. При запуске нового города прибыль может уменьшиться. На время выхода новой сети на нужные продажи. Сети в новых городах и регионах дадут диверсификацию и уменьшат риски бизнеса.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading38">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapse38">
              Будут ли водоматы установлены в других городах?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapse38"></i></span>
        </div>
        <div id="collapse38" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading38">
          <div class="panel-body">
            Будут. Мы планируем установку водоматов во всех городах и крупных селах Дагестана.
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading39">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse39" aria-expanded="false" aria-controls="collapse39">
              Водоматы в других городах будут приносить прибыль инвестору?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse39" aria-expanded="false" aria-controls="collapse39"></i></span>
        </div>
        <div id="collapse39" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading39">
          <div class="panel-body">
            Общая прибыль сети будет распределяться пропорционально выпущенным токенам
          </div>
        </div>
      </div>
    </div>



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading40">
          <h4 class="panel-title" style="width: 95%; float: left;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapse40">
              Возможен ли выход проекта на международный рынок?
            </a>
          </h4>
          <span><i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapse40"></i></span>
        </div>
        <div id="collapse40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading40">
          <div class="panel-body">
            Да возможен. Мы уже начали разработку водомата, который планируем продавать по всему миру. А также разрабатываем новую бизнес модель, которую можно использовать для работы на международном рынке.
          </div>
        </div>
      </div>
    </div>


  </div>

  </div>

  
  <footer class="footer clearfix">
  <p class="hidden-xs">
    © Domalogica 2018
  </p>

  <ul class="footer-list">
    
      <li class="footer-list-item">
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </li>
    
  </ul>
</footer>


  </div>

  <!-- General JavaScript -->
  <!-- jquery.js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>

<script>
  $('html').removeClass('no-js').addClass('js')
</script>

<!-- Our main app.js -->
<script src="//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/app.js?3166923016212737268" type="text/javascript"></script>

<!-- Async Script for Twitter Widgets -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>



<iframe src="/6915403/digital_wallets/dialog" scrolling="no" tabindex="-1" aria-hidden="true" style="position: fixed; top: 0px; left: 0px; z-index: 99999; height: 0px; width: 0px; border: 0px;"></iframe><iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/widget_iframe.9c00c8ca14a8618c4db8e2c43139b138.html?origin=https%3A%2F%2Fthemes.getbootstrap.com" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   <!-- JavaScript Libraries -->
<!--   <script src="../static/lib/jquery/jquery.min.js"></script>

  <script src="../static/lib/wow/wow.min.js"></script>
  
  <script src="../static/lib/superfish/superfish.min.js"></script> -->

  <!-- Contact Form JavaScript File -->
  

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  
  


  <script type="text/javascript">
  $(document).ready(function(){
      $(".btn").click(function(){
          $("#toggleSample2").collapse('toggle');
      });
  });
  </script>
  <script>
    $(function() {
      $('#accordion .panel').on('show.bs.collapse', function(e) {
        $("#accordion .panel-heading").removeClass("active");
        $(e.currentTarget).find(".panel-heading").addClass("active");
      });
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>