<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/examples/cover/../../../../favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../static/style.css"> <!-- Gem style -->
    <script src="http://dbmast.ru/files/login-signup-modal-window/js/modernizr.js"></script> <!-- Modernizr -->
    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body>
    <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
      <div class="cd-user-modal-container"> <!-- основной контейнер -->
        <ul class="cd-switcher">
          <a href="">Заявка</a>
        </ul>


        <div id="cd-selected"> <!-- форма регистрации -->
          <form class="cd-form" method="post">
            <p class="fieldset">
              <label class="image-replace cd-username" for="signup-username">Имя пользователя</label>
              <input name="name" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя пользователя">
              <span class="cd-error-message">Здесь сообщение об ошибке!</span>
            </p>

            <p class="fieldset">
              <label class="image-replace cd-password" for="signup-password">Номер телефона</label>
              <input name="phone" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Номер телефона">
              <span class="cd-error-message">Здесь сообщение об ошибке!</span>
            </p>

            <p class="fieldset">
              <label class="image-replace cd-email" for="signup-email">Комментарии</label>
              <input name="comments" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Комментарии">
              <span class="cd-error-message">Здесь сообщение об ошибке!</span>
            </p>
            <p class="fieldset">
              <input class="full-width has-padding" type="submit" value="Отправить">
            </p>
          </form>

          <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-signup -->
      </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Domalogica</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Главная</a>
                <a class="nav-link" href="/tokens">Токены</a>
                <a class="nav-link" href="#">White Paper</a>
                <a class="nav-link" href="#">FAQ</a>
                <a class="nav-link" href="#">Карта Водоматов</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">СВЕЖАЯ ВОДА.</h1>
            <p class="lead">Сеть вендинговых аппаратов по продаже свежей воды.</p>
            <p class="lead">


              <nav class="main-dl">
                <ul>
                  <li><a class="btn btn-lg btn-secondary" href="#0">Оставить заявку</a></li>
                </ul>
              </nav>
              <!-- <a href="#" class="btn btn-lg btn-secondary">Оставить заявку</a> -->
            </p>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/examples/cover/../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/examples/cover/../../../../assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/examples/cover/../../../../dist/js/bootstrap.min.js"></script>
      
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/main.js"></script> <!-- Gem jQuery -->  

</body></html>
