<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">



</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="http://tokendl.com/">Главная</a></li>
          <li><a href="/tokens">Токены</a></li>
          <li><a href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
    Hero Section
  ============================-->

  <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
    <div class="cd-user-modal-container"> <!-- основной контейнер -->
      
      <div id="cd-selected"> <!-- форма регистрации -->
        <form class="cd-form" method="post">
          <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Имя пользователя</label>
            <input name="name" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя пользователя">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Номер телефона</label>
            <input name="phone" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Номер телефона">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Комментарии</label>
            <input name="comments" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Комментарии">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>
          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Отправить">
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->


  <section id="hero">
    <div class="hero-container main-dl">
      <h1>СВЕЖАЯ ВОДА.</h1>
      <div class="progress" style="height: 45px;" >
        <div class="progress-bar bg-info" role="progressbar" style="width: 1.6%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><!-- Продано 1.6% / 80 (токенов) --></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 98.4%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Токенов в продаже 98.4 / 4920</div>
      </div>

      <br><br>

      <h2>Стань участником перспективного  проекта. Инвестируй в бизнес по продаже свежей  воды через  сеть вендинговых аппаратов.</h2>
      <a href="#0" class="btn-get-started">Инвестировать</a>
    </div>

  </section><!-- #hero -->
 <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Современные проблемы питьевой воды</h2>
            <br>
            <p>
              Вода - основа жизни.  Не секрет что в г. Махачкала как и в других городах России есть проблемы с качественной питьевой водой. Мы решаем эту проблему  установив большое количество Водоматов во дворах домов. Любой житель города сможет получить   доступ к качественной и недорогой воде.
            </p>
            <br>
            <!-- <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div> -->

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">ВОДА — КАК БИЗНЕС</h2>
            <br>
        <!--     <p>
              Вода - основа жизни.  Не секрет что в г. Махачкала как и в других городах России есть проблемы с качественной питьевой водой. Мы решаем эту проблему  установив большое количество Водоматов во дворах домов. Любой житель города сможет получить   доступ к качественной и недорогой воде.
            </p>
            <br> -->
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Перспективы</a></h4>
              <p class="description">Вода это возможность построить прекрасный бизнес.  Вода нужна всегда и всем. </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Потребление воды</a></h4>
              <p class="description">Махачкала - это крупнейший город СКФО.  Потребление питьевой воды  в Махачкале, даже по самым скромным подсчетам может доходить до 500 тысяч литров в сутки.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-check-square"></i></div>
              <h4 class="title"><a href="">Станьте участником</a></h4>
              <p class="description">На данный момент рынок продажи воды через  вендинговые аппараты свободен.  И у вас есть возможность стать участником этого бизнеса.</p>
            </div>

          </div>

          <div class="col-lg-6 background2 order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Факты</h3>
          <p class="section-description">Информация о приобретенных токенах, цене за токен и о количестве оставшихся токенах.</p>
        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15000</span>
            <p>Всего токенов</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">4950</span>
            <p>Токенов в продаже</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up" class="rb">2500</span><span class="rb">₽</span>
            <p>Цена токена</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">23</span>
            <p>Всего участников</p>
          </div>

        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
  <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Контакты</h3>
          <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, totam?</p>
        </div>
      </div>
      </div>

     

      <div class="container wow fadeInUp">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">

              <div>
                <i class="fa fa-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+7 938 2005000</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Имя пользовавтеля" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email адрес" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="phone" id="subject" placeholder="Номен телефона" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comments" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Сообщение"></textarea>
                  <div class="validation"></div>
                </div>

                <div class="text-center"><button type="submit">Отправить</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->


    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Станьте участником</h3>
            <p class="cta-text">Стань участником перспективного  проекта. Инвестируй в бизнес по продаже свежей  воды через  сеть вендинговых аппаратов.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center main-dl">
            <a class="cta-btn align-middle" href="#">Инвестировать</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Domalogica 2018
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  <script src="../static/js/hmainMen.js"></script>
  <script src="../static/js/hmodernizr.js"></script>

</body>
</html>
