<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="Pragma" content="no-cache" />
  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">

  <link href="http://getbootstrap.ru/docs/v4-alpha/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .ggree {
      background: rgba(98, 98, 98, 0.73);
      border-radius: 5px;
      padding: 15px 10px 0;
      margin-bottom: 50px;
    }
    .ggrees {
      color: #fff !important;
      text-decoration: none;
    }
  </style>
<link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body id="frequent-questions">
  <!--==========================
  Header
  ============================-->
 <header id="header" class="d6">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="http://tokendl.com/"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://tokendl.com/">Главная</a></li>
          <li><a href="/tokens">Токены</a></li>
          <li><a  target="_blank" href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/offer">Оферта</a></li>
          <li class="menu-active"><a href="/press">Пресса о нас</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->






<!--==========================
    Hero Section
  ============================-->

  <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
    <div class="cd-user-modal-container"> <!-- основной контейнер -->
      
      <div id="cd-selected"> <!-- форма регистрации -->
        <form class="cd-form" method="post">
          <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Имя пользователя</label>
            <input name="name" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя пользователя">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Номер телефона</label>
            <input name="phone" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Номер телефона">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Email</label>
            <input name="email" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Email">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Комментарии</label>
            <input name="comments" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Комментарии">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Токены</label>
            <input name="tokens" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Укажите, сколько токенов вы намерены приобрести">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>
          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Отправить">
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->

<!--==========================
    Hero Section
  ============================-->

  
 <br>       <br>

  <section id="services">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">О нас пишут</h3>
          <br>          
        </div>

        <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="centerBlock">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner" role="listbox">
           <div class="carousel-item bbl active">
             <img src="https://cdn1.tass.ru/width/744_b12f2926/tass/m2/uploads/i/20171109/4595825.jpg" alt="First slide">
             <div class="carousel-caption ggree">
              <a href="http://tass.ru/v-strane/4714518" target="_blank">
                 <h3 class="ggrees">TASS.RU</h3>
                 <p class="ggrees">Жители Дагестана получили возможность купить воду и бытовую технику за биткойны</p>
              </a>
               </div>
           </div>
           <div class="carousel-item bbl">
             <img src="http://md-gazeta.ru/wp-content/uploads/2018/02/IMG_3975-e1517848309547.jpg" alt="Second slide">
             <div class="carousel-caption ggree">
              <a href="http://md-gazeta.ru/news/34086" target="_blank">
                 <h3 class="ggrees">MD-GAZETA.RU</h3>
                 <p class="ggrees">Остаться в живых. Корреспондент «Молодежки» хлебнула воды из КОРа</p>
              </a>
               </div>
           </div>
           <div class="carousel-item bbl">
             <img src="https://phototass4.cdnvideo.ru/width/744_b12f2926/tass/m2/uploads/i/20180202/4640935.jpg" alt="Third slide">
             <div class="carousel-caption ggree">
              <a href="http://tass.ru/ekonomika/4924683" target="_blank">
                 <h3 class="ggrees">TASS.RU</h3>
                 <p class="ggrees">Компания по установке водоматов запустила первую продажу токенов в Дагестане</p>
              </a>
            </div>
           </div>

           <div class="carousel-item bbl">
             <img src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e35/19226965_480844452265044_7164706298196393984_n.jpg?ig_cache_key=MTUzOTkxOTQzMjM2MTIyMDkzMw%3D%3D.2&se=7" alt="Third1 slide">
             <div class="carousel-caption ggree">
              <a href="http://www.rgvktv.ru/vremya-novostej-makhachkala/38122" target="_blank">
                 <h3 class="ggrees">RGVKTV.RU</h3>
                 <p class="ggrees">Проект "Умная емкость"</p>
              </a>
               </div>
           </div>

           <div class="carousel-item bbl">
             <img src="http://img1.stavropolye.tv/0ef901120ac2f4b65eae0fbc3004ea27.jpg" alt="Third2 slide">
             <div class="carousel-caption ggree">
              <a href="http://www.stavropolye.tv/sfdnews/view/89902" target="_blank">
                 <h3 class="ggrees">STAVROPOLYE.TV</h3>
                 <p class="ggrees">"Умная емкость" для экономии воды</p>
              </a>
               </div>
           </div>

           <div class="carousel-item bbl">
             <img src="http://kavpolit.com/media/upload/images/dagestan/umnaya_emkost.jpg" alt="Third3 slide">
             <div class="carousel-caption ggree">
              <a href="https://etokavkaz.ru/news/4314" target="_blank">
                 <h3 class="ggrees">ETOKAVKAZ.RU</h3>
                 <p class="ggrees">Махачкалинцы придумали прибор, который защитит от перебоев с водой</p>
              </a>
               </div>
           </div>

           <div class="carousel-item bbl">
             <img src="http://www.pavilionmag.ru/uploads/4a54c9b2f95d25af8f9a474cff2ad8f2.png" alt="Third3 slide">
             <div class="carousel-caption ggree">
              <a href="http://www.pavilionmag.ru/article/sovremennyie-tehnologii-po-dag-874" target="_blank">
                 <h3 class="ggrees">PAVILIONMAG.RU</h3>
                 <p class="ggrees">Современные технологии по-дагестански</p>
              </a>
               </div>
           </div>

           <div class="carousel-item bbl">
             <img src="https://cdn3.etokavkaz.ru/width/800_2289c446/etokavkaz/9/f/9f188b766b591dd0303a46f484bb6526ec7866ac.jpg" alt="Third3 slide">
             <div class="carousel-caption ggree">
              <a href="https://etokavkaz.ru/nauchnyi-podkhod/a-eshche-ono-prishlet-vam-sms" target="_blank">
                 <h3 class="ggrees">ETOKAVKAZ.RU</h3>
                 <p class="ggrees">А еще оно пришлет вам SMS</p>
              </a>
               </div>
           </div>


         </div>
         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
           <span class="icon-prev" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
           <span class="icon-next" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
       </div>
       </div>
       </div>
       </div>
    </section>






      <section id="facts">
          <div class="container">
            <div class="section-header">
          <h3 class="section-title">О нас говорят</h3>
          <p class="section-description">Узнайте, что сегодня говорят о компании «Domalogica» на страницах российских СМИ, по проекту “Свежая вода”</p>
              <br>          
            </div>

            <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="centerBlock">
             <div id="carousel-example-generics" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner" role="listbox">
               <div class="carousel-item ddl active">
                 <iframe width="100%" height="550" src="https://www.youtube.com/embed/8xvJB1TI9HU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>


               <div class="carousel-item ddl">
                 <iframe width="100%" height="550" src="https://www.youtube.com/embed/r-e0L-_Mz4k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>


               <div class="carousel-item ddl">
                <iframe width="100%" height="550" src="https://www.youtube.com/embed/M7YLgJGJgno" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>


               <div class="carousel-item ddl">
                <iframe width="100%" height="550" src="https://www.youtube.com/embed/8wfYPd29oak" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>

             </div>
             <a class="left carousel-control" href="#carousel-example-generics" role="button" data-slide="prev">
               <span class="icon-prev" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#carousel-example-generics" role="button" data-slide="next">
               <span class="icon-next" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>
           </div>
           </div>
           </div>
           </div>
           </div>
        </section><!-- #services -->



  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © Domalogica 2018
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->


   <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="http://getbootstrap.ru/docs/v4-alpha/dist/js/bootstrap.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  



  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  <script src="../static/js/hmainMen.js"></script>
  <script src="../static/js/hmodernizr.js"></script>



</body></html>