<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domalogiса</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/hstyle.css" rel="stylesheet">
  <link href="../static/css/hreset.css" rel="stylesheet">
  <link href="../static/css/hstyles.css" rel="stylesheet">



</head>

<body>
  <!--==========================
  Header
  ============================-->
 <header id="header" class="d6">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="http://tokendl.com/"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://tokendl.com/">Главная</a></li>
          <li class="menu-active"><a href="/tokens">Токены</a></li>
          <li><a href="https://docs.google.com/document/d/1B0caopi0IoPalRTeNGz1JncIOTaRb4SlW4j3Q0koOmk/edit?usp=sharing">О проекте</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
    Hero Section
  ============================-->

  <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
    <div class="cd-user-modal-container"> <!-- основной контейнер -->
      
      <div id="cd-selected"> <!-- форма регистрации -->
        <form class="cd-form" method="post">
          <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Имя пользователя</label>
            <input name="name" class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя пользователя">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Номер телефона</label>
            <input name="phone" class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Номер телефона">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Комментарии</label>
            <input name="comments" class="full-width has-padding has-border" id="signup-email" type="text" placeholder="Комментарии">
            <span class="cd-error-message">Здесь сообщение об ошибке!</span>
          </p>
          <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Отправить">
          </p>
        </form>

        <!-- <a href="#0" class="cd-close-form">Close</a> -->
      </div> <!-- cd-signup -->
    </div> <!-- cd-user-modal-container -->
  </div> <!-- cd-user-modal -->

<!--==========================
    Hero Section
  ============================-->

  
 <br>       <br>       <br>       <br>       
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="section-header">
          <h3 class="section-title">Договора</h3>
          <p class="section-description">Информация о приобретенных токенах.</p>
        </div>
        <div class="row counters">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>ID держателя</th>
                                        <th>Токены</th>
                                        <th>В рублях</th>
                                    </thead>
                                    <tbody>
                                        {% for post in posts %}
                                        <tr>
                                        <td>{{post}}</td>
                                        <td>{{post}}</td>
                                        <td class="text-primary">{{post}}</td>
                                        </tr>
                                        {% endfor %}
                                        <!-- <tr>
                                            <td>100000</td>
                                            <td>12778</td>
                                            <td class="text-primary">38334000</td>
                                        </tr>
                                        <tr>
                                            <td>100001</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100002</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100003</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100004</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100005</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100006</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100007</td>
                                            <td>7</td>
                                            <td class="text-primary">21000</td>
                                        </tr>
                                        <tr>
                                            <td>100008</td>
                                            <td>5</td>
                                            <td class="text-primary">15000</td>
                                        </tr>
                                        <tr>
                                            <td>100009</td>
                                            <td>5</td>
                                            <td class="text-primary">15000</td>
                                        </tr>
                                        <tr>
                                            <td>100010</td>
                                            <td>5</td>
                                            <td class="text-primary">15000</td>
                                        </tr>
                                        <tr>
                                            <td>100011</td>
                                            <td>7</td>
                                            <td class="text-primary">21000</td>
                                        </tr>
                                        <tr>
                                            <td>100012</td>
                                            <td>7</td>
                                            <td class="text-primary">21000</td>
                                        </tr>
                                        <tr>
                                            <td>100013</td>
                                            <td>7</td>
                                            <td class="text-primary">21000</td>
                                        </tr>
                                        <tr>
                                            <td>100014</td>
                                            <td>5</td>
                                            <td class="text-primary">15000</td>
                                        </tr>
                                        <tr>
                                            <td>100015</td>
                                            <td>7</td>
                                            <td class="text-primary">21000</td>
                                        </tr>
                                        <tr>
                                            <td>100016</td>
                                            <td>1500</td>
                                            <td class="text-primary">4500000</td>
                                        </tr>
                                        <tr>
                                            <td>100017</td>
                                            <td>100</td>
                                            <td class="text-primary">300000</td>
                                        </tr>
                                        <tr>
                                            <td>100018</td>
                                            <td>55</td>
                                            <td class="text-primary">165000</td>
                                        </tr>
                                        <tr>
                                            <td>100019</td>
                                            <td>50</td>
                                            <td class="text-primary">150000</td>
                                        </tr>
                                        <tr>
                                            <td>100020</td>
                                            <td>60</td>
                                            <td class="text-primary">180000</td>
                                        </tr>
                                        <tr>
                                            <td>100021</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100022</td>
                                            <td>40</td>
                                            <td class="text-primary">120000</td>
                                        </tr>
                                        <tr>
                                            <td>100033</td>
                                            <td>40</td>
                                            <td class="text-primary">120000</td>
                                        </tr>
                                        <tr>
                                            <td>100024</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100025</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100034</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100028</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100035</td>
                                            <td>50</td>
                                            <td class="text-primary">150000</td>
                                        </tr>
                                        <tr>
                                            <td>100027</td>
                                            <td>50</td>
                                            <td class="text-primary">150000</td>
                                        </tr>
                                        <tr>
                                            <td>100026</td>
                                            <td>12</td>
                                            <td class="text-primary">36000</td>
                                        </tr>
                                        <tr>
                                            <td>100032</td>
                                            <td>40</td>
                                            <td class="text-primary">120000</td>
                                        </tr>
                                        <tr>
                                            <td>100029</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100030</td>
                                            <td>10</td>
                                            <td class="text-primary">30000</td>
                                        </tr>
                                        <tr>
                                            <td>100031</td>
                                            <td>40</td>
                                            <td class="text-primary">120000</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        
                    </div>
                </div>
            </div>

        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
  

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Станьте участником</h3>
            <p class="cta-text">Стань участником перспективного  проекта. Инвестируй в бизнес по продаже свежей  воды через  сеть вендинговых аппаратов.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center main-dl">
            <a class="cta-btn align-middle" href="#">Инвестировать</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © Domalogica 2018
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/hmain.js"></script>
  <script src="../static/js/hmainMen.js"></script>
  <script src="../static/js/hmodernizr.js"></script>



</body></html>

